.catalog__wrapper {
  padding: 66px 28px;

  @include tablet {
    padding: 84px 94px 107px;
  }

  @include desktop {
    padding-top: 100px;
    padding-right: 156px;
    padding-left: 156px;
  }
}

.catalog__title {
  @include clear-padding;
  @include clear-margin;
  @include sn-s36-h40;

  text-align: center;
  color: $green-accent-color;

  @include tablet {
    @include sn-s48-h54;
  }

  @include desktop {
    @include sn-s52-h57;
  }
}

.catalog__list {
  @include clear-list-styles;

  margin: 64px auto 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    gap: 52px;
    margin-top: 74px;
  }

  @include desktop {
    justify-content: unset;
    gap: 24px;
    margin-top: 93px;
    row-gap: 52px;
  }
}

.catalog__item--mobile-hidden {
  @include mobile-only {
    display: none;
  }

  @include tablet {
    display: block;
  }
}
