.choose-control {
  display: flex;
  align-items: center;
}

.choose-control__label {
  @include mn-s16-h19;

  &--small {
    @include mn-s14-h16;
  }

  @include tablet {
    @include mn-s18-h22;
  }
}

.choose-control__input {
  appearance: none;
  background-color: unset;
  margin: 0;
  position: relative;

  &:checked::before,
  &:not(:checked)::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    border: 2px solid $green-accent-color;
    margin-right: 16px;
  }

  &--checkbox:checked::before,
  &--checkbox:not(:checked)::before {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 9px;
  }

  &:checked:hover::before,
  &:not(:checked):hover::before {
    border: 2px solid $green-misc-color;
  }

  &:checked:hover::after,
  &:not(:checked):hover::after {
    background-color: $green-misc-color;
  }

  &:disabled::before {
    border: 2px solid rgba(142, 152, 146, 0.7);
    opacity: 0.3;
  }

  &:checked::after,
  &:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    background-color: $green-accent-color;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
  }

  &--checkbox:checked::after,
  &--checkbox:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 12px;
    background-color: $green-accent-color;
    mask-image: url("../img/icons/check.svg");
    mask-size: 14px 12px;
    position: absolute;
    top: 6px;
    left: 6px;

    @include tablet {
      mask-size: 15px 12px;
      top: 6px;
      left: 5px;
    }
  }

  &:not(:checked)::after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked::after {
    opacity: 1;
    transform: scale(1);
  }

  &:checked:disabled::after {
    border: 2px solid rgba(142, 152, 146, 0.7);
  }
}

.choose-control--radio {
  align-items: center;
}

.choose-control--radio .choose-control__label {
  width: 180px;

  @include tablet {
    width: 169px;
  }

  @include desktop {
    width: 220px;
  }
}

.choose-control__input--narrow-checkbox:checked::before,
.choose-control__input--narrow-checkbox:not(:checked)::before {
  @include tablet {
    margin-right: 22px;
  }

  @include desktop {
    margin-right: 11px;
  }
}
