.contacts {
  position: relative;

  &::before {
    @include leaf-line;

    @include tablet {
      top: 47px;
      width: 298px;
      height: 42px;
    }

    @include desktop {
      top: 35px;
    }
  }

  @include desktop {
    padding-left: 156px;
    padding-right: 156px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map contacts";
    grid-column-gap: 26px;
  }
}

.contacts__wrapper {
  padding: 118px 27px 34px;

  @include tablet {
    padding-left: 118px;
    padding-right: 122px;
    padding-bottom: 42px;
  }

  @include desktop {
    grid-area: contacts;
    padding-left: unset;
    padding-right: unset;
  }
}

.contacts__title {
  @include clear-padding;
  @include clear-margin;
  @include sn-s36-h40;

  text-align: center;
  color: $green-accent-color;
  margin-bottom: 64px;

  @include tablet {
    @include sn-s48-h54;
    margin-top: 44px;
    margin-bottom: 72px;
    // margin: 20px 100px 0;
  }

  @include desktop {
    @include sn-s52-h57;
    margin-top: 84px;
    margin-bottom: 49px;
  }
}

.contacts__text {
  @include clear-margin;
  @include mn-s16-h19;

  text-align: center;
  margin-bottom: 34px;

  @include tablet {
    @include mn-s20-h23;
    margin-bottom: 27px;
  }

  @include desktop {
    margin-left: 37px;
  }
}

.contacts__list {
  @include clear-list-styles;

  display: flex;
  flex-direction: column;
  row-gap: 18px;
  justify-content: space-between;

  @include tablet {
    margin-left: 63px;
    row-gap: 21px;
  }

  @include desktop {
    margin-left: 96px;
  }
}

.contacts__item-link {
  text-decoration: none;
  color: #000000;
}

.contacts__item--leaf {
  &::before {
    content: "";
    display: block;
    mask-image: url("../img/icons/contacts-leaf.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    left: -37px;
    background-color: #000000;

    @include tablet {
      top: -7px;
    }
  }
}

.contacts__item--phone {
  &::before {
    content: "";
    display: block;
    mask-image: url("../img/icons/phone.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    left: -37px;
    top: -6px;
    background-color: #000000;

    @include tablet {
      top: -3px;
    }
  }
}

.contacts__item--email {
  margin-top: 10px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../img/icons/email.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    left: -37px;
    top: -6px;
    background-color: #000000;
  }
}

.contacts__item {
  @include mn-s14-h16;

  position: relative;
  margin-left: 36px;
  // margin-bottom: 12px;
  cursor: pointer;

  &:hover {
    .contacts__item-link {
      color: $green-misc-color;
    }

    &::before {
      background-color: $green-misc-color;
    }
  }

  &:active {
    .contacts__item-link {
      color: $green-accent-color;
    }

    &::before {
      background-color: $green-accent-color;
    }
  }

  @include tablet {
    @include mn-s16-h20;
  }
}
