.delivery-form {
  @include tablet {
    margin-bottom: 44px;
  }
}

.delivery-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    justify-content: space-evenly;
  }

  @include desktop {
    gap: 40px;
    justify-content: start;
  }
}

.delivery-form__label {
  &:last-child {
    width: 220px;

    @include tablet {
      width: unset;
    }
  }
}

.delivery-form__title {
  margin-bottom: 31px;

  @include tablet {
    margin-bottom: 42px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}
