.features {
  position: relative;

  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

.features__item {
  @include mn-s16-h19;

  margin-top: 6px;
  margin-bottom: 19px;
  margin-left: 51px;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    // left: 12px;
  }

  @include tablet {
    @include mn-s18-h22;

    margin-top: 0;
  }
}

.features__item--leaf::before {
  content: url("../img/icons/features-leaf.svg");
  width: 21px;
  height: 22px;
  top: 0;
  left: -39px;
}

.features__item--snowflake::before {
  content: url("../img/icons/features-snowflake.svg");
  width: 24px;
  height: 24px;
  top: 20px;
  left: -40px;

  @include tablet {
    top: 11px;
  }
}

.features__item--delivery::before {
  content: url("../img/icons/features-delivery.svg");
  width: 23px;
  height: 17px;
  top: 2px;
  left: -41px;

  @include tablet {

  }
}
