.intro__wrapper {
  width: 100%;
  background-color: $blue-gray-bg-color;
  background-image: url("../img/intro-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
  min-height: 636px;
  padding: 64px 27px 70px 28px;
  box-sizing: border-box;

  @supports (background-image: url("../img/intro-bg-mobile.webp")) {
    background-image: url("../img/intro-bg-mobile.webp");
    background-repeat: no-repeat;
    background-color: $blue-gray-bg-color;
    background-position: center 75%;
    background-size: cover;
  }

  @include retina {
    background-image: url("../img/intro-bg-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-color: $blue-gray-bg-color;
    background-position: center 75%;
    background-size: cover;

    @supports (background: url("../img/intro-bg-mobile@2x.webp")) {
      background-image: url("../img/intro-bg-mobile@2x.webp");
      background-repeat: no-repeat;
      background-color: $blue-gray-bg-color;
      background-position: center 75%;
      background-size: cover;
    }
  }

  @include tablet {
    background-image: url("../img/intro-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-color: $blue-gray-bg-color;
    min-height: 940px;
    background-position: center 50%;
    background-size: cover;
    padding-top: 142px;

    @supports (background-image: url("../img/intro-bg-tablet.webp")) {
      background-image: url("../img/intro-bg-tablet.webp");
      background-repeat: no-repeat;
      background-color: $blue-gray-bg-color;
      background-position: center 50%;
      background-size: cover;
    }

    @include retina {
      background-image: url("../img/intro-bg-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-color: $blue-gray-bg-color;
      background-position: center 50%;
      background-size: cover;

      /* stylelint-disable-next-line max-nesting-depth */
      @supports (background-image: url("../img/intro-bg-tablet@2x.webp")) {
        background-image: url("../img/intro-bg-tablet@2x.webp");
        background-repeat: no-repeat;
        background-color: $blue-gray-bg-color;
        background-position: center 50%;
        background-size: cover;
      }
    }
  }

  @include desktop {
    background-image: url("../img/intro-bg-desktop.jpg");
    background-color: $blue-gray-bg-color;
    min-height: 800px;
    background-position: center 90%;
    background-size: cover;
    padding-top: 174px;

    @supports (background-image: url("../img/intro-bg-desktop.webp")) {
      background-image: url("../img/intro-bg-desktop.webp");
      background-repeat: no-repeat;
      background-color: $blue-gray-bg-color;
      background-position: center 90%;
      background-size: cover;
    }

    @include retina {
      background-image: url("../img/intro-bg-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-color: $blue-gray-bg-color;
      background-position: center 90%;
      background-size: cover;

      /* stylelint-disable-next-line max-nesting-depth */
      @supports (background-image: url("../img/intro-bg-desktop@2x.webp")) {
        background-image: url("../img/intro-bg-desktop@2x.webp");
        background-repeat: no-repeat;
        background-color: $blue-gray-bg-color;
        background-position: center 90%;
        background-size: cover;
      }
    }
  }

  @include tablet {
    padding-left: 192px;
  }

  @include desktop {
    padding: 172px 347px 0 37.08%;
  }
}

.intro__title {
  @include clear-margin;
  @include clear-padding;
  @include sn-s36-h40;

  color: $green-accent-color;
  text-align: center;
  margin-bottom: 38px;

  @include tablet {
    @include sn-s48-h54;

    margin-bottom: 50px;
  }

  @include desktop {
    @include sn-s52-h57;

    margin-bottom: 57px;
  }
}

.intro__features {
  @include clear-list-styles;

  margin-left: 21px;
  margin-bottom: 54px;
  z-index: 0;

  @include tablet {
    margin-left: 14px;
    margin-bottom: 35px;
  }

  @include desktop {
    margin-left: 23px;
    margin-bottom: 38px;
  }
}

.intro__order-button {
  max-width: 264px;

  @include tablet {
    @include mn-s28-h33;

    max-width: unset;
    margin-left: 21px;
    display: table-caption;
    margin-right: 190px;
  }

  @include desktop {
    margin-left: 42px;
    margin-right: 169px;
  }
}
