.logo {
  display: block;
  text-decoration: none;

  &:hover {
    .logo__image,
    .logo__text {
      color: $green-misc-color;
    }
  }

  &:active {
    .logo__image,
    .logo__text {
      color: rgba(15, 128, 93, 0.5);
    }
  }
}

.logo__image {
  fill: none;
  color: $green-accent-color;
}

.logo__text {
  display: inline-block;
  fill: $green-accent-color;

  @include mobile-only {
    display: none;
  }
}
