.main-nav__toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &--nojs {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    background-color: $green-accent-color;
    mask-image: url("../img/icons/burger.svg");
    display: block;
    width: 46px;
    height: 30px;
  }

  &:hover {
    &::before {
      background-color: $green-misc-color;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    background-color: $green-accent-color;
    mask-image: url("../img/icons/close.svg");
    display: block;
    width: 28px;
    height: 29px;
  }

  &:hover {
    &::before {
      background-color: $green-misc-color;
    }
  }
}

.main-nav__list {
  @include clear-list-styles;

  padding: 32px 0 0 40px;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(4, minmax(112px, max-content));
    gap: 16px;
    align-items: center;
    min-height: initial;
    padding-top: 30px;
  }

  @include desktop {
    column-gap: 28px;
  }
}

.main-nav__item {
  padding-bottom: 28px;

  @include desktop {
    min-width: 132px;
    padding-bottom: 36px;
  }
}

.main-nav__link {
  @include mn-s20-h23;

  color: #000000;
  text-decoration: none;

  &:hover {
    color: $green-misc-color;
  }

  &:active {
    color: $green-accent-color;
  }
}

.main-nav--closed .main-nav__list {
  @include mobile-only {
    display: none;
  }
}

.main-nav--opened .main-nav__list,
.main-nav--nojs .main-nav__list {
  @include mobile-only {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background: $blue-gray-bg-color
      linear-gradient(180deg, rgba(88, 13, 101, 0.3), rgba(0, 0, 0, 0) 1.8%);
  }
}
