.news-card {
  border: 2px solid $green-accent-color;
  border-radius: 40px;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-top: 28px;
  position: relative;
  box-sizing: border-box;
  min-height: 400px;
  width: 268px;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    background-image: url("../img/icons/news-leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 76px;
    height: 32px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.news-card__title {
  @include clear-margin;
  @include clear-padding;
  @include mn-s20-h23;

  margin: 0 0 21px;
  text-align: center;
  min-height: 68px;
  display: flex;

  span {
    margin: auto;
  }

  &--custom {
    margin: 29px 0 19px;
  }
}

.news-card__text {
  @include clear-margin;
  @include mn-s14-h16;
}

.news-card__date {
  @include mn-s14-h16;

  margin-top: auto;
  display: block;
  text-align: right;
}
