.order-params {
  position: relative;
  padding-top: 85px;

  &::before {
    @include leaf-line;

    @include tablet {
      width: 295px;
      height: 40px;
    }
  }

  @include tablet {
    padding-top: 113px;
  }

  @include desktop {
    padding-top: 107px;
  }
}

.order-params__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 32px;

  @include tablet {
    padding: 0 45px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 39px;
  }
}

.order-params__title {
  @include mn-s20-h23;

  color: $green-accent-color;
  margin-bottom: 30px;

  @include tablet {
    @include mn-s28-h33;

    margin-bottom: 41px;
  }

  @include desktop {
    margin-bottom: 48px;
  }
}

.order-params__button {
  width: 82.2vw;
  max-width: 300px;

  @include tablet {
    @include mn-s28-h33;

    max-width: unset;
    padding: 18px 0;
    margin: 0 auto;
    width: 336px;
  }
}
