.order {
  &::before {
    margin-block-end: 64px;
    display: block;
    width: 100%;
    min-height: 120px;
    height: calc(84 / 320 * 100vw);
    max-height: 200px;
    content: "";
    background-color: #fad6e4;
    background-image: url("../img/order-header-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    @supports (background-image: url("../img/order-header-bg-mobile.webp")) {
      background-image: url("../img/order-header-bg-mobile.webp");
      background-repeat: no-repeat;
      background-position: left bottom;
    }

    @include retina {
      background-image: url("../img/order-header-bg-mobile@2x.jpg");

      /* stylelint-disable-next-line max-nesting-depth */
      @supports (background-image: url("../img/order-header-bg-mobile@2x.webp")) {
        background-image: url("../img/order-header-bg-mobile@2x.webp");
      }
    }

    @include tablet {
      background-image: url("../img/order-header-bg-tablet.jpg");
      margin-block-end: 99px;

      /* stylelint-disable-next-line max-nesting-depth */
      @supports (background-image: url("../img/order-header-bg-tablet.webp")) {
        background-image: url("../img/order-header-bg-tablet.webp");
        background-repeat: no-repeat;
        background-position: left bottom;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @include retina {
        background-image: url("../img/order-header-bg-tablet@2x.jpg");

        /* stylelint-disable-next-line max-nesting-depth */
        @supports (background-image: url("../img/order-header-bg-tablet@2x.webp")) {
          background-image: url("../img/order-header-bg-tablet@2x.webp");
        }
      }
    }

    @include desktop {
      background-image: url("../img/order-header-bg-desktop.jpg");

      /* stylelint-disable-next-line max-nesting-depth */
      @supports (background-image: url("../img/order-header-bg-desktop.webp")) {
        background-image: url("../img/order-header-bg-desktop.webp");
        background-repeat: no-repeat;
        background-position: left bottom;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @include retina {
        background-image: url("../img/order-header-bg-desktop@2x.jpg");

        /* stylelint-disable-next-line max-nesting-depth */
        @supports (background-image: url("../img/order-header-bg-desktop@2x.webp")) {
          background-image: url("../img/order-header-bg-desktop@2x.webp");
        }
      }
    }
  }
}

.order__wrapper {
  padding: 0 26px 64px;

  @include tablet {
    padding-left: 72px;
    padding-right: 72px;
  }

  @include desktop {
    padding-left: 348px;
    padding-right: 348px;
  }
}

.order__title {
  @include sn-s36-h40;
  @include clear-margin;
  @include clear-padding;

  color: $green-accent-color;
  text-align: center;

  @include tablet {
    @include sn-s52-h57;
  }
}

.order__description {
  @include mn-s16-h19;
  @include clear-padding;
  @include clear-margin;

  color: #000000;
  text-align: center;
  margin: 32px 25px 41px;

  @include tablet {
    @include mn-s18-h22;
    margin: 51px 80px 36px;
  }

  @include desktop {
    margin: 47px 111px 46px;
  }
}
