.product {
  background-color: $white-bg-color;
  filter: drop-shadow(0 4px 4px rgba(88, 13, 101, 0.15));
  padding-bottom: 54px;
  border-radius: 40px;
  display: block;
}

.product__image {
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product__title {
  @include clear-margin;
  @include clear-padding;
  @include mn-s28-h33;

  color: $green-accent-color;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.product__title-link {
  text-decoration: none;
}

.product__params {
  @include mn-s18-h21;
  display: flex;
  flex-wrap: wrap;
  width: 116px;
  justify-content: space-between;
  margin: 0 auto 38px;
}

.product__amount {
  margin-left: 0;
}

.product__button {
  width: auto;
  margin-left: 24px;
  margin-right: 20px;
  padding-bottom: 16px;
  padding-top: 14px;
}
