.storage-form {
  @include mobile-only {
    margin-bottom: 30px;
  }
}

.storage-form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 19px;

  @include tablet {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-bottom: 14px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    margin-bottom: 5px;
  }
}

.storage-form__title {
  @include desktop {
    margin-bottom: 47px;
  }
}
