@mixin typography-template($font-size, $line-height, $font-family: $main-font-family, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
  font-family: $font-family;
}

@mixin mn-s11-h13 {
  @include typography-template(11px, 13px);
}

@mixin mn-s14-h16 {
  @include typography-template(14px, 16px);
}

@mixin mn-s16-h19 {
  @include typography-template(16px, 19px);
}

@mixin mn-s18-h21 {
  @include typography-template(18px, 21px);
}

@mixin mn-s20-h23 {
  @include typography-template(20px, 23px);
}

@mixin mn-s28-h33 {
  @include typography-template(28px, 33px);
}

@mixin sn-s28-h33 {
  @include typography-template(28px, 33px, $secondary-font-family);
}

@mixin sn-s36-h40 {
  @include typography-template(36px, 40px, $secondary-font-family);
}
