// Breakpoints:
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts:
$main-font-family: "Raleway", "Arial", sans-serif;
$secondary-font-family: "Comfortaa", "Arial", sans-serif;

// Colors:
$white-bg-color: #fbfcfe;
$blue-gray-bg-color: #f1f6fc;
$leaf-gray-bg-color: rgba(142, 152, 146, 0.7);
